<div class="container">
		<div class="row">
			<div class="col">
				<div class="discreet text-center">
					<hr />
					<p><a href="https://ispa.org.za/code-of-conduct/" target="_blank" rel="noreferrer noopener"><img width="150" height="37" src="/images/ISPA-CoC-2017-500.png" alt="ISPA CoC" /></a></p>
					<p class="discreet">TENET is a proud <a href="https://ispa.org.za/membership/list-of-members/?about=149" target="_blank" rel="noreferrer noopener" style="color: inherit">member</a> of ISPA and upholds the ISPA <a href="https://ispa.org.za/code-of-conduct/" target="_blank" rel="noreferrer noopener" style="color: inherit">Code of Conduct</a>.</p>
				</div>
			</div>
		</div>
	</div>

