@charset "utf-8";
/* CSS Document */
body {
	font-family: 'Karla', sans-serif;
}

h1, h2, h3, h4 {
	font-weight: 300;
    font-family: 'Roboto Condensed', sans-serif;
}

a, a:hover {
    color: #1ca7da;
}

#aboveHead {
	color: #fff;
	background: #051d33;
	padding: 5px 0;
}
#aboveHead a, #aboveHead a:hover, #aboveHead a:active {
	color: #fff;
	text-decoration: none;
}

.navContainer {
	background: rgba(23,25,28,0.7);
	transition: all 0.25s;
	font-family: 'Roboto Condensed', sans-serif;
}
.navContainer.expanded {
	background: rgba(23,25,28,0.9);
	transition: all 0.25s;
}
.navbar {
	padding: 0;
}
.nav-link {
	text-transform: uppercase;
}
.navbar-nav .nav-item > .nav-link {
	font-size: 18px;
	margin: 0 20px;
	padding: 15px 0;
	border-bottom: 6px transparent solid;
}
.dropdown-menu {
    margin-top: -7px;
}
.navbar-nav > .active .nav-link {
	border-bottom: 6px #be001a solid;
}
.navbar-toggler {
	margin-top: 10px;
	margin-bottom: 10px;
}
.nav-link {
    transition: none;
}
.navbar-brand img {
	width: 160px;
	margin: 15px 0;
}

.btn {
	border-radius: 0;
}

.home #headContainer {
	position: relative;
}
.home .navContainer {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
}
.bx-wrapper {
	border: none;
	box-shadow: none;
	position: relative;
	z-index: 1;
	margin: 0;
}
.bx-wrapper .bx-pager {
	padding-top: 0;
	bottom: 30px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
	background: #fff;
}
.slide {
	color: #fff;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.slide h2 {
	text-transform: uppercase;
	margin-bottom: 20px;
}
.slide .container {
	margin-top: 350px;
	margin-bottom: 100px;
}
.slideTags {
    margin-bottom: 10px;
}
.slideTags span {
	opacity: 0.5;
	font-size: 24px;
	font-family: 'Roboto Condensed', sans-serif;
	margin-right: 8px;
	text-transform: uppercase;
}
.slide:nth-child(2) .slideTags span:nth-child(1),
.slide:nth-child(3) .slideTags span:nth-child(2),
.slide:nth-child(4) .slideTags span:nth-child(3)
{
    opacity: 1;
}
.slideTags span.active {
	opacity: 1;
}
.slideImage {
    position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	background-size: cover;
	background-position: center;
}
.plug {
	width: 98%;
	border-radius: 5px;
	background: #da241c;
	height: 13px;
	margin: 0 0 15px;
	position: relative;
}
.plug img {
	height: 35px;
	position: absolute;
	right: -30px;
	top: -80%;
}

.home #mainContent {
	background: #e9e9e9;
	padding: 60px 0;
}
.documentDescription {
	font-size: 20px;
	margin-bottom: 15px;
}

.documentByLine {
    display: none;
}
.portaltype-news-item .documentByLine {
    display: block;
    position: absolute;
    top: -40px;
    right: 15px;
    font-size: smaller;
    font-style: oblique;
}

.btn-primary {
    background-color: #1ca7da;
    border-color: #1ca7da;
}


#news {
    margin-top: 75px;
    margin-bottom: 35px;
}
#news .tileImage {
    position: relative;
    height: 250px;
}
#news .tileImage a {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: center;
}
#news .first-news-item {
    margin-bottom: 30px; ;
}
#news .first-news-item .tileHeadline a {
    color: #fff;
    text-transform: uppercase;
    background: #da241c;
    display: block;
    padding: 15px 25px;
}
#news .first-news-item .tileHeadline {
    margin-top: 20px;
}
#news .first-news-item .tileFooter {
    margin-top: 10px;
    margin-bottom: 20px;
}
#news .first-news-item .largeTile .tileImage {
    height: 100%;
}
#news .news-items .tileHeadline a {
    color: #fff;
    text-transform: uppercase;
    background: #051d33;
    border-top: 5px solid #da241c;
    display: block;
    padding: 15px 25px;
    font-size: 24px;
}
#news .news-items > div {
    margin-bottom: 30px;
}
#news .tileHeadline {
    margin-bottom: 0;
}
#news .tileHeadline a:hover {
    text-decoration: none;
}
#news .tilePublication, #news .tileBody, #news .tileFooter {
    margin-left: 25px;
    margin-right: 25px;
}
#news .tilePublication {
    padding: 8px 0;
}
#news .news-item {
    border: 1px solid #b7b7b7;
}

.generic #headContainer {
    background-image: url(../images/generic-header.jpg);
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.headerOverlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(5,29,51,0.55);
}
.home .headerOverlay {
    z-index: 2;
}
.generic #titleContainer {
	color: #fff;
	padding-top: 50px;
	padding-bottom: 30px;
}
hr.white {
	border-top: 1px solid rgba(255,255,255,0.5);
}
.generic #content {
	margin-top: 60px;
	margin-bottom: 80px;
}

.discreet {
	font-size: 85%;
}

/* collections with no content */
.section-services div#parent-fieldname-text + p.discreet {
    display: none;
}

p.callout {
    background: #eee;
    padding: 1em;
    border-left: 0.5em solid #da241c;
    clear: both;
}

.portletRss, .portletStaticText, .portletRelatedItems {
    margin-bottom: 0.5em;
}
.portletRss .portletHeader,
.portletStaticText .portletHeader,
.portletRelatedItems .portletHeader {
    background: #da241c;
    padding: 0.5em;
    color: #fff;
}
.portletRss .portletHeader a {
    color: #fff;
}
.portletRss .portletContent,
.portletStaticText .portletContent,
.portletRelatedItems .portletContent {
    background: #eee;
    padding: 0.5em;
    border: 1px solid #b7b7b7;
    border-top: hidden;
}
/* mirror.ac.za */
.section-services .portletRss .portletContent .portletItemDetails {
    display: none;
}
/* events.tenet.ac.za */
.section-about .portletRss .portletContent,
.section-news .portletRss .portletContent {
    font-size: 85%;
}
.section-about .portletRss .portletContent .portletItemDetails,
.section-news .portletRss .portletContent .portletItemDetails {
    display: inline-block;
}
.portletRss .portletContent {
    border-bottom: hidden;
}
.portletRss .portletFooter {
    background: #eee;
    padding: 0 0.5em 0.5em 0.5em;
    border: 1px solid #b7b7b7;
    border-top: hidden;
}
.portletRss .portletFooter .hiddenStructure {
    display: none;
}

.portletNavigationTree .portletHeader a {
    pointer-events: none;
    margin-bottom: 10px;
    font-size: 18px;
    color: #000;
    display: block;
}

#footerContainer {
	color: #fff;
	background: #2b2b2b;
	padding: 10px 0;
}
#footerContainer a, #footerContainer a:hover {
    color: #fff;
}

/*Breadcrumbs*/
#portal-breadcrumbs {
    font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 10px;
}
#portal-breadcrumbs a, #portal-breadcrumbs a:hover {
    color: #fff;
}
#portal-breadcrumbs .container {
    padding: 0;
}
.breadcrumb, #portal-breadcrumbs ol {
    display: inline-block;
    background-color: transparent;
    margin: 0;
    padding: 0;
}
#breadcrumbs-current, #breadcrumbs-you-are-here {
    display: none;
}
.breadcrumb li, #portal-breadcrumbs ol li {
    display: inline-block;
}
.breadcrumb > li + li::before, #portal-breadcrumbs > li + li::before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

/*Juizi listing*/
.clr {
    clear: both;
}
.template-listing_view article {
    padding-bottom: 15px;
    padding-top: 20px;
    border-bottom: 1px dashed #a7a7a7;
}
.template-listing_view article:first-child {
    padding-top: 0;
}
.template-listing_view article .url {
    font-size: 18px;
    margin-bottom: 5px;
}
.juizi-listing-view .itemDetail {
    font-size: 14px;
}
.juizi-listing-view .itemAuthor, .juizi-listing-view .itemPublished, .juizi-listing-view .itemDetail span {
    font-weight: 300;
    display: inline-block; 
}
.template-listing_view article .thumb-thumb {
    float: right;
    margin: 0 0 10px 10px;
}

.newsImageContainer {
    float: right;
    margin: 0 0 10px 10px;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.17);
    overflow: hidden;
}

.newsImageContainer figcaption {
    caption-side: bottom;
    font-size: small;
    text-align: center;
    font-style: italic;
}

.image-right {
    float: right;
    margin: 0 0 10px 10px;
}
.image-left {
    float: left;
    margin: 0 10px 10px 0;
}

.pagination {
    margin: 30px auto 0;
}
.pagination .page-link {
    color: #2a4365;
}
.page-item.active .page-link {
    color: #fff;
    background-color: #2a4365;
    border-color: #2a4365;
}

/*Footer*/
#footerNavContainer {
	background: #1a202c url("../images/footer-nav-bg.jpg") no-repeat center;
	background-size: cover;
	padding-top: 50px;
	padding-bottom: 50px;
}
.generic #footerNavContainer {
	margin-top: 75px;
}
.subsection-collaborators-and-funders.generic #footerNavContainer {
    margin-top: 0;
}
.subsection-collaborators-and-funders.generic .newsImage {
    display: none;
}

#portal-footernav {
	margin: 0;
	padding: 0;
}
#portal-footernav > li {
	padding: 0;
	list-style: none;
	display: inline-block;
	margin: 0 20px 0 0;
	vertical-align: top;
	float: none;
}
#portal-footernav li a {
	text-transform: uppercase;
	display: inline-block;
	color: #fff;
	font-size: 16px;
    padding: 0;
}
#portal-footernav li a:hover {
        background: transparent;
}
#portal-footernav span.caret {
       display: none;
}
#portal-footernav .dropdown-menu {
	display: block;
	padding: 0 0 0 4px;
	border-left: 2px solid #fff;
	position: relative;
    background: transparent;
    box-shadow: none;
    float: none;
    min-width: auto;
    margin: 4px 0 0 3px;
    border-radius: 0;
}
#portal-footernav .dropdown-menu li {
        display: block;
        line-height: 12px;
        max-width: 110px;
}
#portal-footernav .dropdown-menu li a {
        font-size: 12px;
        background: none;
        color: #a6a6a6;
        padding: 0 0 0 2px;
        margin-bottom: 4px;
        white-space: inherit;
}
#portal-footernav .dropdown-menu li a:hover {
        text-decoration: underline;
        color: #c6c6c6;
}
#portal-footernav .dropdown-menu img {
        display: none;
}
#portal-footernav .dropdown-submenu > a::after {
    display: none;
}
#portal-footernav .dropdown-toggle {
    pointer-events: none;
}

.belowFooter {
	margin-top: 30px;
	margin-bottom: 30px;
	color: #a0aec0;
}
.belowFooter a {
	color: #a0aec0;
}
.belowFooter p {
	margin-bottom: 10px;
}

#partnersContainer {
    margin-top: 30px;
    margin-bottom: 20px;
}
#partnersContainer .partner-link {
    margin: 5px 0;
}
#partnersContainer .partner-link a img {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
    transition: 0.5s all;
}
#partnersContainer .partner-link a:hover img {
    -webkit-filter: grayscale(0%); 
    filter: grayscale(0%);
    transition: 0.5s all;
}

/*Search*/
.template-search #portal-breadcrumbs, .template-search .actionMenu, .template-search #content-core h1 {
    display: none;
}
#search-results-wrapper {
    margin-top: 15px;
}
#searchResultsSort {
    margin-bottom: 10px;
}
.documentLocation {
    display: block;
}
.searchResults {
    margin: 0;
    padding: 0;
}
.searchResults li {
    margin: 0 0 15px;
    padding: 0 0 15px;
    border-bottom: 1px dashed #dedede;
    list-style: none;
}
.result-title {
    font-size: 18px;
}

#portal-searchbox {
	position: relative;
	width: 100%;
	display: inline-block;
}
.searchButton {
	border: none;
	background: transparent;
	position: absolute;
	right: 0;
	top: 2px;
	cursor: pointer;
	font-size: 22px;
}
#footerSearch .btn-lg {
	padding: 0 10px;
	opacity: 0.4;
	transition: all 0.25s ease;
}
#footerSearch .btn-lg:hover {
	opacity: 0.8;
	transition: all 0.25s ease;
}
#portal-searchbox label, #portal-searchbox .searchSection, #portal-advanced-search {
    display: none;
}

/*Accordion*/
.ui-accordion-header {
    background: #e2e8f0;
    color: #1a202c;
    margin-bottom: 2px;
    padding: 20px;
}
h2.ui-accordion-header {
    font-size: 30px;
}
.ui-accordion-header-active {
    background: #1a202c;
    color: #fff;
}
.ui-accordion-content {
    background: #f7fafc;
    margin-bottom: 8px;
    padding: 20px;
}

.svs-status-img {
    width: 1rem;
}

.tenet-display-none {
    display: none;
}

/*Juizi*/
.juizi-web {
    opacity: 0.4;
    transition: 0.25s all;
    margin-top: 6px;
    display: inline-block;
}
.juizi-web img {
    max-width: 120px;
}
.juizi-web:hover {
    opacity: 0.8;
    transition: 0.25s all;
}
@media (min-width: 992px) {
 
    .home .navContainer.fixed, .navContainer.fixed {
        display: block;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
        background: rgba(23,25,28,0.85);
    }
    .navContainer.fixed .navbar-brand img {
        width: 100px;
    }
    
}
@media (max-width: 992px) {
	
	#footerContainer {
		text-align: center;
	}
	.plug {
		width: 97%;
	}
	.plug img {
		right: -14px;
	}
	#news .first-news-item .tileHeadline {
	    margin-top: 0;
	}
	#news .first-news-item .tileHeadline a {
	    color: #fff;
        text-transform: uppercase;
        background:
        #051d33;
        border-top: 5px solid
        #da241c;
        display: block;
        padding: 15px 25px;
        font-size: 24px;
	}
	/* simplify display for mobile */
	.belowFooter, #partnersContainer {
	    display: none;
	}
}


/* condolences book */
.condolences {
    font-size: 80%;
    height: 55%;
}
.condolences .comment {
    margin: 1em 1em;
    padding: 1em;
    overflow: auto;
    border: 1px solid #ccc;
}

.condolences .commentBody {
    font-style: italic;
}
.condolences .commentBody p {
    margin-bottom: 0.2rem;
}
.condolences .commentBody .commentActions {
    display: none;
}
.condolences .documentByLine {
    font-weight: bold;
    display: inline;
    float: right;
}
.condolences fieldset  {
    margin: 1em 1em;
}
.condolences fieldset p {
    font-size: 80%;
}

.condolences input[type="text"], .condolences textarea {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #696969;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.condolences textarea {
    min-height: 6em;
    min-width: 10em;
    resize: vertical;
}

.condolences .formControls {
    padding: 12px;
    box-shadow: inset 0 10px 10px -10px rgb(0 0 0 / 5%);
}

.field.error > label, .field.error div.error {
    color: #c4183c;
}
.field.error input, .field.error textarea, .field.error select {
    border-color: #c4183c;
}