{{ with .Params.hide_banner }}

{{ else }}
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-3 text-left">
			        <a href="https://twitter.com/tenetnews" target="_blank" rel="noreferrer noopener"><i class="fab fa-twitter"></i> Follow us on Twitter</a>
                </div>
				<div class="col-12 col-lg-3 text-center">
			        <!-- placeholder -->
                </div>
				<div class="col-12 col-lg-6 text-right">
					Fault reporting (24/7)  |  <a href="tel:+27217637147">+27 21 763 7147</a>  |  <a class="tenet-obfusticate tenet-cleartext" href="mailto:honeypot@tenet.ac.za" data-href="xltwez:dfaazce@epype.ln.kl">support@tenet.ac.za</a> <i class="fas fa-exclamation-circle"></i>
				</div>
			</div>
		</div>
	</div><div id="headContainer">
		<div class="slideContainer"><div class="slide">
        	            <div class="slideImage"></div>
        				<div class="headerOverlay"></div>
        				<div class="container" style="position: relative; z-index:3;">
        					<div class="row">
        						<div class="col-d-none col-lg-block col-lg-1"></div>
        						<div class="col-12 col-lg-10">
        							<div class="slideTags"><span>Network</span><span>Service</span><span>Impact</span></div>
        							<div class="plug"><img src="images/plug.svg" alt="" width="35" height="35" /></div>
        							<h2><a href="https://www.tenet.ac.za/find-out-more-about/our-network" class="tile contenttype-link state-published" title="Find out more about our network">
            Serving our community and furthering global best practice in education and research in Africa
        </a></h2>
        							<p class="portletItemDescription">
            Find out more about our network
        </p>
        							<p class="slideBtn"><a href="https://www.tenet.ac.za/find-out-more-about/our-network" class="tile contenttype-link state-published" title="Find out more about our network">
            Serving our community and furthering global best practice in education and research in Africa
        </a></p>
        							<img style="width: 100%;" class="image-icon" href="https://www.tenet.ac.za/find-out-more-about/our-network" src="https://www.tenet.ac.za/find-out-more-about/our-network/@@images/image" />
        						</div>
        						<div class="col-d-none col-lg-block col-lg-1"></div>
        					</div>
        				</div>
        			</div><div class="slide">
        	            <div class="slideImage"></div>
        				<div class="headerOverlay"></div>
        				<div class="container" style="position: relative; z-index:3;">
        					<div class="row">
        						<div class="col-d-none col-lg-block col-lg-1"></div>
        						<div class="col-12 col-lg-10">
        							<div class="slideTags"><span>Network</span><span>Service</span><span>Impact</span></div>
        							<div class="plug"><img src="images/plug.svg" alt="" width="35" height="35" /></div>
        							<h2><a href="https://www.tenet.ac.za/find-out-more-about/our-services" class="tile contenttype-link state-published" title="Find out more about our services">
            Growing education in Africa through exceptional Internet and Information Technology services
        </a></h2>
        							<p class="portletItemDescription">
            Find out more about our services
        </p>
        							<p class="slideBtn"><a href="https://www.tenet.ac.za/find-out-more-about/our-services" class="tile contenttype-link state-published" title="Find out more about our services">
            Growing education in Africa through exceptional Internet and Information Technology services
        </a></p>
        							<img style="width: 100%;" class="image-icon" href="https://www.tenet.ac.za/find-out-more-about/our-services" src="https://www.tenet.ac.za/find-out-more-about/our-services/@@images/image" />
        						</div>
        						<div class="col-d-none col-lg-block col-lg-1"></div>
        					</div>
        				</div>
        			</div><div class="slide">
        	            <div class="slideImage"></div>
        				<div class="headerOverlay"></div>
        				<div class="container" style="position: relative; z-index:3;">
        					<div class="row">
        						<div class="col-d-none col-lg-block col-lg-1"></div>
        						<div class="col-12 col-lg-10">
        							<div class="slideTags"><span>Network</span><span>Service</span><span>Impact</span></div>
        							<div class="plug"><img src="images/plug.svg" alt="" width="35" height="35" /></div>
        							<h2><a href="https://www.tenet.ac.za/find-out-more-about/our-impact" class="tile contenttype-link state-published" title="Find out more about our impact">
            Evolving our network and building trust in line with international best practice
        </a></h2>
        							<p class="portletItemDescription">
            Find out more about our impact
        </p>
        							<p class="slideBtn"><a href="https://www.tenet.ac.za/find-out-more-about/our-impact" class="tile contenttype-link state-published" title="Find out more about our impact">
            Evolving our network and building trust in line with international best practice
        </a></p>
        							<img style="width: 100%;" class="image-icon" href="https://www.tenet.ac.za/find-out-more-about/our-impact" src="https://www.tenet.ac.za/find-out-more-about/our-impact/@@images/image" />
        						</div>
        						<div class="col-d-none col-lg-block col-lg-1"></div>
        					</div>
        				</div>
        			</div></div>
	</div>

{{ end }}
