<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js" integrity="sha512-p55Bpm5gf7tvTsmkwyszUe4oVMwxJMoff7Jq3J/oHaBk+tNQvDKNz9/gLxn9vyCjgd6SAoqLnL13fnuZzCYAUA==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js" integrity="sha512-/bOVV1DV1AQXcypckRwsR9ThoCj7FqTV2/0Bm79bL3YSyLkVideFLE3MIZkq1u5t28ke1c0n31WYCOrO01dsUg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha512-M5KW3ztuIICmVIhjSqXe01oV2bpe248gOxqmlcYrEzAvws7Pw3z6BK0iGbrwvdrUQUhi3eXgtxp5I8PDo9YfjQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" integrity="sha512-F5QTlBqZlvuBEs9LQPqc1iZv2UMxcVXezbHzomzS6Df4MZMClge/8+gXrKw2fl5ysdk4rWjR0vKS7NNkfymaBQ==" crossorigin="anonymous"></script>
<script src="js/tenet-common.js"></script><script src="//cdnjs.cloudflare.com/ajax/libs/tarteaucitronjs/1.8.4/tarteaucitron.min.js" integrity="sha512-mtWxnVxRjiUoqpYmEAhhfl8EXlLBxjTcuKMABdJQoVkKykZ10uHH+tq3xelP7cBU+rXvtffpHMmjVRiYgvM0BA==" crossorigin="anonymous"></script>
<script>
    tarteaucitron.init({
      "privacyUrl": "/downloads/privacy-policy",
      "hashtag": "#cookiesettings",
      "cookieName": "TENET-Cookie-Prefs",
      "orientation": "bottom",
      "showIcon": false,
      "highPrivacy": false,
      "handleBrowserDNTRequest": false,
      "removeCredit": true,
      "readmoreLink": "/downloads/website-terms-and-conditions",
      "cookieDomain": ".tenet.ac.za",
      "mandatory": true
    });
    tarteaucitron.user.analyticsUa = 'UA-115881186-1';
    (tarteaucitron.job = tarteaucitron.job || []).push('analytics');
    tarteaucitron.user.googleFonts = ['Karla:400,700', 'Roboto Condensed:400,700'];
    (tarteaucitron.job = tarteaucitron.job || []).push('googlefonts');
    (tarteaucitron.job = tarteaucitron.job || []).push('youtube');
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>